<%= javascript_pack_tag 'index' %>
<%= render 'layouts/header' %>
<div class="slide">
  <div class="top-main">
    <img src="/assets/profile.jpg" alt="profile-img" />
    <div class="profile2">
      <img src="/assets/profile2.jpg" alt="profile-img"/>
    </div>
    <div class="profile3">
      <img src="/assets/profile3.jpg" alt="profile-img"/>
    </div>
  </div>
</div>
<div class="slide-var">
  <p><input type="range" id="slide_speed" value="4000" min="100" max="10000"></p>
</div>
<div class="container">
  <div class="profile">
    <div id="Profile" class="profile-top">
      <p>Profile</p>
    </div>
    <p>名前　　：宮崎慶<br>
    生年月日：2000年3月6日<br>
    血液型　：A型<br>
    学歴　　：日本文理大学　工学部　情報メディア学科</p>
    <p>
    はじめまして！！2020年7月よりプログラミングの独学をはじめました。趣味は散歩です。たまに気分転換に散歩をします。座右の銘は為せば成るです。バックエンドエンジニアになりたいと考えています。
    </p>
    <p>独学したこと</p>
    <p>
    言語　Ruby JavaScript　フレームワーク　Ruby on Rails　クラウド　AWS
    </p>
    <p>大学で学んだこと</p>
    <p>言語　C言語　Python　JAVA　PHP</p>
    <div id="Portfolio" class="profile-top">
      <p>Portfolio</p>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <a class="portfolio-app"target="_blank"href="http://54.150.64.95"style="text-decoration:  none;"><img src="/assets/viewhome.jpg" alt="viewhome-app-img"></a>
      </div>
      <div class="col-lg-4">
        <br>
        <p>viewhome</p>
        <p>iphoneの中身を共有できるSNSです。</p>
        <p>
          私はよくiphoneの壁紙や配置を変えます。また他人のiphoneの中身はどんな配置なんだろうと気になった事があります。そこで、iphoneの中身が共有できるSNSがあれば面白いのではないかと考えviewhomeを作成しました。
        </p>
      </div>  
    </div>
    <div id="Contact" class="profile-top">
      <p>Contact</p>
    </div>
    <div class="field">
      <%= form_with model: @contact do |f| %>
        <%= f.label :お名前%>
        <%= f.text_field :name,class: 'form-control'  %>
        <%= f.label :メールアドレス%>
        <%= f.text_field :email,class: 'form-control'  %>
        <%= f.label :お問い合わせ内容%>
        <div class="contact">
          <%= f.text_area :message,class: 'form-control',placeholder: "お問い合わせ内容を1000字以内で入力して下さい", :size=>"5x10"   %>
        </div>
        <%= f.submit '送信', class: 'btn btn-dark'  %> 
      <% end %>
    </div>
  </div>
</div>
<div class="contact-form">
  <div class="container">
    <div class="contact-menu">
      github
      <a target="_blank" style="color:black;text-decoration:  none;" href="https://github.com/kei336">
        <i class="fab fa-github faa-wrench animated"></i>
      </a>
      Qiita
      <a target="_blank"  style="color:black;text-decoration:  none;" href="https://qiita.com/kei_36">
        <i class="fa fa-search    faa-wrench animated"></i>
      </a>
    </div>
  </div>
</div>
<div class="footer">
  <p>TAHNK YOU FOR READING</p>
</div>
